aside {
    width: 20em;
    text-align: center;
    position: relative;
  }
  
  aside img {
    width: 200px;
    height: auto;
  }
  
  aside h2 {
    position: absolute;
    top: 10px;
    left: 150px;
  }
  
header, footer {
    max-width: 840px;
    margin: 0 auto
}
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; /% shorthand for white %/
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

h1 {
    border-bottom: 1px solid blue;
}



.grid header,
.grid footer {
    max-width: 100%;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}