header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.logo {
    grid-column: 1 / span 1;
}

.nav {
    grid-column: 2 / span 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

